.dashboard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dashboard span{
    margin: 2rem 0;
    font-weight: 600;
    font-size: 1.2rem;
}

.new{
    float: right;
    margin-bottom: 1.5rem;
    background-color: #83bf02;
    color: #fff;
    border: 0;
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 1.1rem;
    border-radius: .4rem;
    transition: ease-in 0.2s;
}

.new svg{
    margin-right: .3rem;
}

.new:hover{
    background-color: #5fd204;
    transform: scale(1.1);
}

table{
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}


table tr{
    background-color: #f8f8f8;
    border: 1px solid #ccc;
}

table th,
table td{
    padding: 1rem;
    text-align: center;
}

table th{
    font-size: .95rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
}

table td .action{
    border: 0;
    padding: .5rem;
    margin-right: .2rem;
    align-items: center;
    display: inline-block;
    border-radius: .4rem;
}

table td .action svg{
    vertical-align: middle;
}

table td .badge{
    padding: .3rem;
    border-radius: .5rem;
    color: #fff;
}

.btn-more{
    margin: 1.5rem 0;
    padding: .5rem 1rem;
    height: 1.8rem;
    border: 0;
    border-radius: .5rem;
    background-color: #181c2e;
    color: #fff;
    font-size: 1.1rem;
}

@media screen and (max-width: 700px){
    table{
        border: 0;
    }

    table caption{
        font-size: 1.3rem;
    }

    table thead{
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr{
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .65rem; 
    }

    table td{
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8rem;
        text-align: right;
    }

    table td::before{
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table td:last-child{
        border-bottom: 0;
    }

}